/node_modules
/public/js/
/public/css/
/public/*.*
/public/hot
/public/storage
/public/api/uploads
/public/invoices
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
